.second-lesson {
    .basic-images{
        height: 100px;
        width: 100px;
    }
}

.lesson-eight {
    display: flex;
    flex-wrap: wrap;

    img{
        width: 100px;
        height: 100px;
    }

    .cards {
        margin: 20px;
    }
}